.profile__sidebar {
    background: #FF6600;
    max-width: 300px;
    list-style: none;
    margin: 0;
    padding: 1.5rem;
    border-radius: 10px;
    flex: 1;
}

.profile__sidebar a {
    width: 100%;
    padding: .5rem 1rem;
    margin: 5px 0;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: .4s ease;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.profile__sidebar a svg {
    transform: translateY(5px);
    font-size: 22px;
}

.profile__sidebar a:hover {
    background: #fff;
    color: #FF6600;
}

.active__link a{
    background: #fff !important; 
    color: #FF6600 !important;
}