.service-main {
    .ant-list-item {
        justify-content: start;

        &::before {
            content: "•";
            margin-right: 20px;
            color: @primary-color;
        }
    }
}