h1.ant-typography {
    font-weight: 600;
    font-size: 65px;
    line-height: 83px;

    @media @sm {
        font-size: 45px;
        line-height: 60px;
    }

    @media @xs {
        font-size: 40px;
        line-height: 50px;

    }
}



h2.ant-typography {
    font-weight: 600;
    font-size: 50px;
    line-height: 65px;
}

h4.ant-typography {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}