.shopping-cart-main {
  padding: 20px 120px;

  @media @md {
    padding: 0;
  }

  @media @sm {
    padding: 0;
  }

  @media @xs {
    padding: 0;
  }


}

.shop-cart-table {
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }


  table thead tr th {
    padding: 10px 16px;
    border-bottom: none;
    background: #ff6600 !important;
    color: #fff;
  }

  .ant-table-tbody>tr.ant-table-row:hover>td,
  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #fafafa1a !important;
  }

  .ant-table {
    background: none !important;
  }
}