.product-card {
    background-color: aliceblue;
    border-radius: 18px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.product-image {

    min-height: 237px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}