// @font-face {
// 	font-family: 'SF-Pro-Display';
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Black.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-BlackItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Bold.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-BoldItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-HeavyItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Light.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-LightItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Medium.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-MediumItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-RegularItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-SemiboldItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Thin.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-ThinItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Ultralight.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-UltralightItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Regular.ttf') format('truetype');
// }
// @font-face {
// 	font-family: 'SF-Pro-Text';
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-Bold.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-BoldItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-Heavy.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-HeavyItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-Light.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-LightItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-Medium.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-MediumItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-RegularItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-Semibold.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-SemiboldItalic.ttf') format('truetype');
// 	src: url('/fonts/SF-Pro-Text/SF-Pro-Text-Regular.ttf') format('truetype');
// 	font-style: normal;
// 	font-weight: normal;
// }

@font-face {
	font-family: "Tenor";
	src: url("/fonts/Tenor-Sans.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Inter-Bold";
	src: url("/fonts/Inter-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Inter-Medium";
	src: url("/fonts/Inter-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Poppins-Medium";
	src: url("/fonts/Poppins-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Proxima-Nova";
	src: url("/fonts/Proxima-Nova.otf") format("opentype");
	font-style: normal;
	font-weight: 400;
}


// Fonts 

@font-face {
	font-family: 'GeneralSans-Extralight';
	src: url('./fonts/GeneralSans-Extralight.woff2') format('woff2'),
		url('./fonts/GeneralSans-Extralight.woff') format('woff'),
		url('./fonts/GeneralSans-Extralight.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}


@font-face {
	font-family: 'GeneralSans-Light';
	src: url('./fonts/GeneralSans-Light.woff2') format('woff2'),
		url('./fonts/GeneralSans-Light.woff') format('woff'),
		url('./fonts/GeneralSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}


@font-face {
	font-family: 'GeneralSans-Regular';
	src: url('./fonts/GeneralSans-Regular.woff2') format('woff2'),
		url('./fonts/GeneralSans-Regular.woff') format('woff'),
		url('./fonts/GeneralSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}


@font-face {
	font-family: 'GeneralSans-Medium';
	src: url('./fonts/GeneralSans-Medium.woff2') format('woff2'),
		url('./fonts/GeneralSans-Medium.woff') format('woff'),
		url('./fonts/GeneralSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}


@font-face {
	font-family: 'GeneralSans-Semibold';
	src: url('./fonts/GeneralSans-Semibold.woff2') format('woff2'),
		url('./fonts/GeneralSans-Semibold.woff') format('woff'),
		url('./fonts/GeneralSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}


@font-face {
	font-family: 'GeneralSans-Bold';
	src: url('./fonts/GeneralSans-Bold.woff2') format('woff2'),
		url('./fonts/GeneralSans-Bold.woff') format('woff'),
		url('./fonts/GeneralSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

// Fonts 