* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif !important;
}

.ant-divider-horizontal {
  margin: 0;
}

// p {
//   font-size: 18px;
//   line-height: 24px;
//   font-weight: 500;
// }

// h1 {
//   font-weight: 600 !important;
//   font-size: 65px !important;
//   line-height: 83px !important;
// }

// h2 {
//   font-weight: 600 !important;
//   font-size: 50px !important;
//   line-height: 65px !important;
// }

// h4 {
//   font-weight: 600 !important;
//   font-size: 24px !important;
//   line-height: 32px !important;
// }