.package-card {
    background: @light-grey;
    transition: box-shadow .3s;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 20px;

    &:hover {
        box-shadow: 0 0 11px @primary-color;
    }
}

.package-color-card {
    background: @bg-gray-color;
    transition: box-shadow .3s;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 20px;


    button {
        background: @light-grey !important;
        border-color: @light-grey !important;
        color: @bg-gray-color !important;
    }

    &:hover {
        box-shadow: 0 0 11px @primary-color;

    }
}