.carousel-wrapper {
  .slide {
    height: 424px;
    color: #fff;
    // lineHeight: "160px",
    text-align: left;
    background: #364d79;
    border-radius: 10px;
    padding: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    background-size: cover;
    background-position: center;
  }
}
