.header {
    display: flex;
    padding: 10px 43px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;


    @media (max-width: 1000px) {
        display: none;
    }




    .header-text {


        &:hover {
            color: @primary-color !important;
        }
    }

    .left-side {
        width: 75%;

        svg {
            fill: @white-color;
        }

        .ant-space {
            @media @lg {
                gap: 20px !important;

            }
        }


    }

    .right-side {
        .ant-space {
            @media @lg {
                gap: 10px !important;
            }
        }
    }

    @media @lg {
        padding: 10px 10px;

    }
}


.mobile {
    display: none;

    @media (max-width: 1000px) {
        display: flex;
    }


}



.ant-drawer-wrapper-body {
    background: @secondary-color;
}

.side-nav-icon {
    color: @white-color;
    font-size: 22px;

}

.ant-drawer-close {
    color: @white-color;
}

.ant-drawer-header {
    padding: 0;

    .ant-drawer-header-title {
        flex-direction: row-reverse;

    }
}



.event-dropDown {
    ul {
        background-color: black;

        .ant-dropdown-menu-item {

            .header-text {


                &:hover {
                    color: @primary-color !important;
                }
            }

            &:hover {
                background-color: black;


            }
        }
    }





    // li {
    //     background-color: black;
    // }



    // .ant-dropdown-menu-item {
    //     transition: 0s;

    //     &:hover {
    //         background-color: black;
    //     }
    // }
}