.single__vid-wrapp {
  max-width: 900px;

  .vid__card.full-w {
    max-width: 900px;
    width: 100%;
    margin: 0 0 20px !important;

    .card__head span {
      width: 100% !important;
    }

    img {
      width: 100% !important;
      height: 356px !important;
      border-radius: 10px 10px 0 0;
    }

    li {
      img {
        height: 33px !important;
        width: 33px !important;
        object-fit: cover;
      }
    }
  }

  .ant-btn {
    width: 100%;
  }
}
