@import "Title";
@import "ProfileThumb";
@import "Information";
@import "EditInformation";
@import "Rankings";
@import "CoachCard";

.dashboard-wrapp {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.dashboard-title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.dashboard-content {
    margin-top: 2rem;
    flex: 2;
}

.head__sm {
    font-size: 22px;
}

.color__light {
    color: #fff
}

// form fields 
.dashboard__form {
    max-width: 800px;

    input,
    textarea,
    .ant-select-selector {
        background-color: #303030 !important;
        border: 0 !important;
        color: #ffffff73;
        font-size: 16px;
        font-weight: 500;
    }

    .ant-select-arrow {
        color: #ffffff73;
    }

    input,
    textarea {
        padding: 10px;
    }

    .ant-select-selector {
        height: 44px !important;
    }

    .ant-select-selection-item {
        line-height: 40px !important;
    }

    button.ant-btn {
        width: 100%;
        height: 44px;
    }
}

// .dashboard__form {
//     max-width: 800px;
// }

// .dashboard__form input,
// .dashboard__form textarea,
// .dashboard__form .ant-select-selector {
//     background-color: #303030 !important;
//     border: 0 !important;
//     color: #ffffff73;
//     font-size: 16px;
//     font-weight: 500;
// }

// .dashboard__form .ant-select-arrow {
//     color: #ffffff73;
// }

// .dashboard__form input,
// .dashboard__form textarea {
//     padding: 10px;
// }

// .dashboard__form .ant-select-selector {
//     height: 44px !important;
// }

// .dashboard__form .ant-select-selection-item {
//     line-height: 40px !important;
// }

// .dashboard__form button.ant-btn {
//     width: 100%;
//     height: 44px;
// }



// form fields 