@import "Title";
@import "ProfileThumb";
@import "Information";

.dashboard-wrapp {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.dashboard-title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.dashboard-content {
    margin-top: 2rem;
    flex: 2;
}