.shop-product-parent {

  .image-side {
    min-height: 237px;

  }


  .button-session {
    gap: 10px;

    .cart {
      width: 90%;
    }

    .icon {
      background-color: black;
      width: 37.5px;
      height: 37.5px;
      border-radius: 4.5px;
    }
  }
}