.product-reviews {
  list-style: none;
  display: flex;
}
.product-price {
  font-style: normal;
  font-weight: 600;
  font-size: 25.8271px;
  background: none;
  border: none;
  color: #ff6600 !important;
}
.product-details {
//   width: 160px;
}
.product-card {
  background-color: aliceblue;
  border-radius: 18px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
