.sort__dropdown {
  display: flex;
  align-items: center;
}

.sort__dropdown .ant-select-selector {
  padding: 6px 30px 0 10px !important;
}

.sort__dropdown
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff !important;
}

/* .sort__dropdown .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector { */
.sort__dropdown
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  box-shadow: 0 0 0 transparent;
}

.sort__dropdown .ant-select-arrow {
  color: #fff;
  transform: translateX(10px);
}

.sort__dropdown .ant-select-selection-item {
  padding-right: 0 !important;
}
