.my-tabs {
    .ant-tabs-nav-list {
        width: 100%;

        .ant-tabs-tab {
            width: 100%;
            color: @white-color;
            background: none !important;
            border: none !important;

            .ant-tabs-tab-btn {
                margin: 0 auto !important;
            }
        }


        .ant-tabs-tab-active {
            background: @primary-color !important;

            .ant-tabs-tab-btn {
                margin: 0 auto !important;

                color: @white-color !important;
            }

        }
    }
}